.pagination{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.prev,.next{
  background-color: darkslateblue;
  color: white;
  padding: 10px 15px;
  border: 0;
  border-radius: 5px;
  outline: 0;
  &:not(:disabled){
    cursor: pointer;

  }
}